body{
  background:url(../image/cork-board.jpg) 120% 120%;
}
h1{
  font-family: 'Rock Salt', cursive;
  color:rgb(255,255,255);
  font-size:8em;
  text-align: center;
  /*text-decoration: underline;*/
}
button{
  background-color: white;
}
button:hover{
  background-color:#50bbe6;
  color:white;
}
.sticky-note, .sticky-note:first-child{
  background-color: #369ce1;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(117,117,117,1);
  -moz-box-shadow: 3px 3px 10px 0px rgba(117,117,117,1);
  box-shadow: 3px 3px 10px 0px rgba(117,117,117,1);
  margin: 10px;
  height: 150px;
  padding: 5px 15px;
}
.deleteBtn {
    padding: 0 10px;
    background-color: #ed5c51;
    color: rgb(255,255,255);
    margin: 78px 0 0 80%;
    bottom: 0%;
}
.deleteBtn:hover{
  background-color:#eb2b1d;
}
